section.pricing {
    .indent {
        padding-left: 36px;
    }

    .price-table{
        caption {
			background-color:$darkblue;
			color: white;
			font-weight: bold;
        }
        
        .price {
            text-align:left;
        }
    }

    @media (max-width:800px){
        .price-table{
            .price {
                text-align:center;
            }
        }
    }
}





