section.training {
    padding-left:0px;
    h3 {
        background-color:$lightblue;
        padding: 4px;
        width:100%;
        color:white;
    }
    
    ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 1em 0em;
		justify-content: space-between;


		&:after {
			content: "";
			flex: auto;
		}

		> li {
			text-align: left;
			padding: 0em 1em 0em 0em;
			list-style: none;
		}
	  }

	  blockquote{
		  margin-left: 30px;
		  max-width:70%;
	  }
	
	.tr-mobile-table {
		border-left:8px;
		border-left-style:solid;

		div {
			padding-left: 8px;
		}

		.class-title {
			font-weight:bold;
			font-size:larger;
			padding-bottom: 8px;
		}

		.class-description {
			padding-top: 8px;
		}

		.class-container:nth-of-type(even) {
			background-color: #ddd;
		}
	}

	.prices {
		max-width:25%;
		margin-bottom:16px;
	}

	.price-table {
		caption {
			background-color:$darkblue;
			color: white;
			font-weight: bold;
		}

		tr:nth-of-type(odd) {
			background-color: #ddd;
		}
	}

	@media(max-width:800px){
		.prices {
			max-width:100%;
		}
	}
}
