section.training {
    padding-left:0px;
    h3 {
        background-color:$lightblue;
        padding: 4px;
        width:100%;
        color:white;
    }
    
    ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 1em 0em;
		justify-content: space-between;


		&:after {
			content: "";
			flex: auto;
		}

		> li {
			text-align: left;
			padding: 0em 1em 0em 0em;
			list-style: none;
		}
	}

	th:nth-of-type(1){
		width:25%;
	  }
	  th:nth-of-type(2){
		width:45%;
	  }
	  th:nth-of-type(3){
		width:15%;
	  }
	  th:nth-of-type(4){
		width:15%;
	  }

	  td:nth-of-type(1){
		width:25%;
	  }
	  td:nth-of-type(2){
		width:45%;
	  }
	  td:nth-of-type(3){
		width:15%;
	  }
	  td:nth-of-type(4){
		width:15%;
	  }

	  blockquote{
		  margin-left: 30px;
		  max-width:70%;
	  }
}
