<footer>
	<div>&copy; OWASP Foundation 2019</div>
	<div class="cc">Header image CC by <a href="https://www.flickr.com/photos/alchemist_x/">alchemist_x</a></div>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4531126-10"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
		gtag('config', 'UA-4531126-10');
	</script>

</footer>
</body>
</html>
