---
---
@import "reset";
@import "vars";
@import "header";
@import "section";
@import "teamlist";
@import "footer";



html, body {
	margin: 0;
	padding: 0;
	font-family: 'Brawler', serif;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $blue;
}
a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5 {
	font-family: 'Titillium Web', sans-serif;
}
h1,h2 {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2.25em;
	margin-bottom: 0.25em;
	&.pagetitle {
		margin: 1.5em 0em 0.5em 0em;
		font-size: 2.5em;
	}
}
h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}
